ul {
    display: flex;
    gap: 25px;
    background: rgb(230, 203, 203);
  }
  
  .active {
    color: rgb(124, 177, 111);
    font-size: 20px;
    font-weight: 700;
  }

  nav > ul {
    display: flex;
    width: 900px;
    list-style-type: none;
    justify-content: space-around;
    text-decoration: none;
  }
  
  li {
    color: #4c4c4b;
    font-size: 26px;
    font-weight: 700;
    padding-top: 20px;
  }
  
  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    gap: 30px;
  }
  