*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

.ErrorPage{
    max-width: 760px;
    height: auto;
    /* display: flex;
    flex-direction: column; */
    margin: 25px;
    padding: 15px; 
}

